.container-destination{
    display: grid;
    grid-template-columns: 12.5% auto 12.5%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "back paper ."
    ". paper .";
    text-align: center;
    width: 100vw;
    height: 100vh;

}

.papir{
    grid-area: paper;
}

.paper {
    max-width: 65vw;
    padding: 64px;
    height: 75vh;

}

.back {
    grid-area: back;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 64px;
}