
.alt{
    display: flex;
    flex-wrap: wrap;
    direction: row;

}


.main {

    align-items: center;
    display: flex;
    height: 100vh;
}

.text{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width:100%;
}

.content{
    width: 50%;
    justify-content: center;
    text-align: center;
}
