.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    box-shadow: 0px 10px 10px 0px #AAAAAA;
    max-width: 360px;
    transition: 0.3s;
    margin: 10px;
    border-radius: 7px;
    max-height: 500px;
}

.card-container:hover{
    box-shadow: 0px 16px 16px 0px #AAAAAA;
}

.trio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    padding: 10px;
    text-align: center;
    align-content: flex-end;
    display: flex;
    justify-content: center;
}

.card-item img{
    max-width: 100%;
    align-self: center;
}

.card-item p{
    text-transform: capitalize;
}

.card-item button {
    display: block;
    width: 75%;
    border: none;   
    padding: 5px;
    color: black;
    background-color: lavenderblush;
    border-radius: 7px;
}

.link {
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-item button:hover{
    background-color:rgb(241, 219, 226);
    transition: 0.5s;
}